In [1]:
import esg

In [44]:
import pandas as pd
import math

In [ ]:
import matplotlib.pyplot as plt

In [8]:
import dotenv, os

dotenv.load_dotenv()

data_path = os.path.join("..", os.environ.get("DATA_PATH"))

esg_path = os.path.join(data_path, "ESG.xlsx")
sheet_name = os.environ.get("SHEET_NAME")

own_path = os.path.join(data_path, "ownership.csv")

In [24]:
raw = pd.read_excel(esg_path, sheet_name = sheet_name)

get_esg = esg.yearly_esg_maker(raw)

In [72]:
def pct_to_num(pct) -> float:
    """
    Convert 1% to 0.01
    """
    if type(pct) == str:
        return float(pct.replace("%", "")) / 100

    return pct

def parseownershipdata(raw):
    df = raw.dropna(axis = 0, how = 'all').dropna(axis = 1, how = 'all').dropna(axis = 0, how = 'any')

    investors = df.columns[-7:]
    for investor in investors:
        df[investor] = df[investor].apply(pct_to_num)

    return df

In [73]:
ownership = parseownershipdata(pd.read_csv(own_path))

,TargetFirms,Tickers,NN,Blackrock,NBIM,Generali,JPMorgan,APG,DWS
0,1-800-FLOWERS.COM'A',FLWS-US,0.00000,0.04961,0.00000,0.0,0.00027,0.0,0.00069
1,1STSOURCE,SRCE-US,0.00000,0.04011,0.01231,0.0,0.00815,0.0,0.00008
2,3DSYSTEMS,DDD-US,0.00000,0.14012,0.00418,0.0,0.00000,0.0,0.00247
3,3IGROUP,III-GB,0.00104,0.01047,0.02111,0.0,0.00405,0.0,0.00109
5,3PLEARNING,3PL-AU,0.00000,0.00000,0.00000,0.0,0.00000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...
2610,ZSCALER,ZS-US,0.00000,0.02182,0.00482,0.0,0.01880,0.0,0.00036
2611,ZTE'A',000063-CN,0.00000,0.00106,0.00000,0.0,0.00000,0.0,0.00000
2612,ZUMIEZ,ZUMZ-US,0.00000,0.11717,0.00000,0.0,0.01949,0.0,0.00118
2613,ZUMTOBEL,ZAG-AT,0.00000,0.00585,0.02044,0.0,0.00000,0.0,0.00000
2614,ZUORAA,ZUO-US,0.00000,0.05748,0.00000,0.0,0.00123,0.0,0.00178